<div th:fragment="admin-footer">
    <style>
    html {
    position: relative;
    min-height: 100%;
    }
    body {
    margin-bottom: 30px;
    }
    .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    }
    </style>
    <footer class="footer text-bg-success pb-3">
        <div class="container text-center">
            <h4 class="text-light" href="/contacts">Контакты</h4>
        </div>
        <div class="container text-center">
            <a class="text-success" href="/logout">Выйти</a>
        </div>
    </footer>
</div>