<div th:fragment="admin-header">
    <div class="header">
        <h1 class="p-3 header text-center text-bg-success">Billiard Club</h1>
        <nav class="container-fluid text-center p-3 row">
            <a class="p-3 h4 text-success text-decoration-none col-lg" href="/about">О нас</a>
            <a class="p-3 h4 text-success text-decoration-none col-lg" href="/">Главная</a>
            <a class="p-3 h4 text-success text-decoration-none col-lg" href="/menu">Меню и цены</a>
            <a class="p-3 h4 text-success text-decoration-none col-lg" href="/booking">Забронировать</a>
            <a class="p-3 h4 text-success text-decoration-none col-lg" href="/admin/booking">Брони</a>
            <a class="p-3 h4 text-success text-decoration-none col-lg" href="/admin/news">Новости</a>
        </nav>
    </div>
</div>