<div th:fragment="header">
    <div class="header">
        <h1 class="p-3 header text-center text-bg-success">Billiard Club</h1>

        <nav class="container-fluid text-center p-3">
            <a class="p-3 text-dark" href="/about">О нас</a>
            <a class="p-3 text-dark" href="/">Главная</a>
            <a class="p-3 text-dark" href="/menu">Меню и цены</a>
            <a class="btn btn-outline-dark text-dark col align-self-end" href="booking">Забронировать</a>
        </nav>

    </div>
</div>
